/* KLeuren */
:root {
  /* Achtergronden */
  --bg-main: #0e0e0e;
  --bg-light: #1a1a1a;
  --bg-dark: #050505;

  /* Tekst */
  --text-main: #e0e0e0;
  --text-light: #f0f0f0;
  --text-dark: #b0b0b0;

  /* Primaire knoppen */
  --btn-main: #d92e2e;
  --btn-light: #f05555;
  --btn-dark: #9b1f1f;

  /* Secundaire accenten */
  --accent-main: #f5a623;
  --accent-light: #ffc25c;
  --accent-dark: #b37719;

  /* links */
  --link-main: #8ed6ff;
  --link-light: #b3e0ff;
  --link-dark: #5f9ecf;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    padding: 0;
    text-align: center;  
}

/* Tekst */

h1, h2, h3, h4, h5 {
    color: var(--accent-light);
    margin: 0;
    font-style: solid;
}

h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: underline;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

p {
    color: var(--text-main);
    line-height: 1.6;
}

/* Links */
a {
    color: var(--link-main);
    text-decoration: solid;
    transition: 0.2s;
}

a:hover {
    color: var(--link-light);
}

/* Section */
section {
    background-color: var(--bg-light);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

/* footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    border-top: 1px solid #1f1f1f;
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    nav ul {
        display: flex;
        gap: 2rem;
    }
}