/* KLeuren */
:root {
  /* Achtergronden */
  --bg-main: #0e0e0e;
  --bg-light: #1a1a1a;
  --bg-dark: #050505;

  /* Tekst */
  --text-main: #e0e0e0;
  --text-light: #f0f0f0;
  --text-dark: #b0b0b0;

  /* Primaire knoppen */
  --btn-main: #d92e2e;
  --btn-light: #f05555;
  --btn-dark: #9b1f1f;

  /* Secundaire accenten */
  --accent-main: #f5a623;
  --accent-light: #ffc25c;
  --accent-dark: #b37719;

  /* links */
  --link-main: #8ed6ff;
  --link-light: #b3e0ff;
  --link-dark: #5f9ecf;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    padding: 0;
    text-align: center;  
}

/* Navigatie + logo */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--bg-light);
    border-radius: 10px;
    gap: 1rem;
    width: 90%;
}

.logo {
    width: 120px;
    height: auto;
    border-radius: 60%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Zoekbalk */
.search-bar {
    display: flex;
    gap: 0.5rem;
}

.search-bar input, .search-bar button {
    padding: 0.4rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--bg-dark);
    background-color: var(--accent-light);
}

.search-bar input {
    width: 90%;
}

.search-bar button {
    cursor: pointer;
}

/* Tekst */

h1, h2, h3, h4, h5 {
    color: var(--accent-light);
    margin: 0;
    font-style: solid;
}

h1 {
    color: var(--accent-dark);
    font-size: 1.8rem;
}

a {
    font-size: 0.8rem;
}

p {
    font-size: 0.5rem;
    color: var(--text-main);
    line-height: 1.6;
}

/* Links */
.link-button {
    display: inline-block;
    padding: 10px;
    background: linear-gradient(145deg, #2b2b2b, #1a1a1a);
    color: var(--btn-main);
    border: 1px solid #444;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: solid;
    transition: all 0.3s ease;
}

.link-button:hover {
    color: var(--btn-light);
    transform: scale(1.10);
}

/* Section */
section {
    background-color: var(--bg-light);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

/* footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    border-top: 1px solid #1f1f1f;
    font-size: 0.9rem;
}

@media (min-width: 900px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .nav-links {
        flex-direction: row;
        gap: 2rem;
    }

    .logo {
        width: 150px;
    }

    .search-bar input {
        width: 100%;
    }

    h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        text-decoration: underline;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p, a {
        font-size: 1.2rem;
    }
}